#    ******** Data Clean & Data Preparation ************

## 1- Import the necessary packages

In [1]:
import json
import pandas as pd 
import numpy as np
from pandas.io.json import json_normalize
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',60)
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize
from nltk.tokenize import RegexpTokenizer
import locale
from datetime import datetime
from datetime import date

## 2- Read from wevioo json file

In [2]:
df=[]
for line in open("weevio.json",encoding='utf-8'):
    df.append(json.loads(line))

In [3]:
pd.DataFrame.from_dict(df).head(7)

,_id,search,url,personal_info,skills,scraped_time,experiences,interests,accomplishments
0,{'$oid': '5e20582f2d080b22a8f778ad'},Eureka,https://www.linkedin.com/in/imen-hammi-3102919a,"{'name': 'Imen Hammi', 'headline': 'Architecte...","[{'name': 'AutoCAD', 'endorsements': '5'}, {'n...",1572111565156,"{'jobs': [{'title': 'Architecte Principal', 'c...",[Municipalité Service],"{'publications': [], 'certifications': [], 'pa..."
1,{'$oid': '5e20582f2d080b22a8f778ae'},AWS,https://www.linkedin.com/in/nourhelmi,"{'name': 'Helmi Nour', 'headline': 'Computer s...","[{'name': 'Linux', 'endorsements': '29'}, {'na...",1569510916166,{'jobs': [{'title': 'Computer science | DevOps...,"[Umanis, Cloud Computing, SaaS & Virtualizatio...","{'publications': [], 'certifications': [], 'pa..."
2,{'$oid': '5e20582f2d080b22a8f778af'},MySQL,https://www.linkedin.com/in/zied-brahmi-67787b48,"{'name': 'Zied Brahmi', 'headline': 'CEO IDO D...","[{'name': 'Microsoft Office', 'endorsements': ...",1572708777072,"{'jobs': [{'title': 'Founder and CEO', 'compan...","[Big Data and Analytics, DIGITAL IT News, Bill...","{'publications': [], 'certifications': [], 'pa..."
3,{'$oid': '5e20582f2d080b22a8f778b0'},big data,https://www.linkedin.com/in/bmhamza,"{'name': 'Hamza Ben Marzouk', 'headline': 'Dat...","[{'name': 'Java', 'endorsements': '20'}, {'nam...",1563535422000,{'jobs': [{'title': 'Consultant Data Engineer'...,"[SAP, Big Data | Data Science | A.I. | IoT | M...","{'publications': [], 'certifications': [], 'pa..."
4,{'$oid': '5e20582f2d080b22a8f778b1'},hibernate,https://www.linkedin.com/in/habib-morchedi-755...,"{'name': 'Habib Morchedi', 'headline': 'Ingéni...","[{'name': 'Microsoft Office', 'endorsements': ...",1568388193110,"{'jobs': [{'title': 'Projet de fin d’études', ...","[Sony, IBM, General Motors, Hewlett Packard En...","{'publications': [], 'certifications': [], 'pa..."
5,{'$oid': '5e20582f2d080b22a8f778b2'},QA Test Automation Selenium Testing Test Autom...,https://www.linkedin.com/in/ines-mahjoub-353ba130,"{'name': 'Ines Mahjoub', 'headline': 'Credit A...","[{'name': 'Project Management', 'endorsements'...",1569251589622,{'jobs': [{'title': 'Credit Approval Applicati...,"[CGI, Sogeti, Justin Trudeau, FIS, African Dev...","{'publications': [], 'certifications': [], 'pa..."
6,{'$oid': '5e20582f2d080b22a8f778b3'},raspberry,https://www.linkedin.com/in/hamza-kefi-95209465,"{'name': 'Hamza KEFI', 'headline': 'Project Ma...","[{'name': 'Amélioration continue', 'endorsemen...",1563711180000,"{'jobs': [{'title': 'Chef de projet', 'company...","[Ford Motor Company, Schlumberger, Freelance t...","{'publications': [], 'certifications': [], 'pa..."

In [4]:
# put the data into dataframe
df1=pd.DataFrame.from_records(df)

In [5]:
# replace the none data into space
df1.replace('', 'None', regex=True)

,_id,search,url,personal_info,skills,scraped_time,experiences,interests,accomplishments
0,{'$oid': '5e20582f2d080b22a8f778ad'},Eureka,https://www.linkedin.com/in/imen-hammi-3102919a,"{'name': 'Imen Hammi', 'headline': 'Architecte...","[{'name': 'AutoCAD', 'endorsements': '5'}, {'n...",1572111565156,"{'jobs': [{'title': 'Architecte Principal', 'c...",[Municipalité Service],"{'publications': [], 'certifications': [], 'pa..."
1,{'$oid': '5e20582f2d080b22a8f778ae'},AWS,https://www.linkedin.com/in/nourhelmi,"{'name': 'Helmi Nour', 'headline': 'Computer s...","[{'name': 'Linux', 'endorsements': '29'}, {'na...",1569510916166,{'jobs': [{'title': 'Computer science | DevOps...,"[Umanis, Cloud Computing, SaaS & Virtualizatio...","{'publications': [], 'certifications': [], 'pa..."
2,{'$oid': '5e20582f2d080b22a8f778af'},MySQL,https://www.linkedin.com/in/zied-brahmi-67787b48,"{'name': 'Zied Brahmi', 'headline': 'CEO IDO D...","[{'name': 'Microsoft Office', 'endorsements': ...",1572708777072,"{'jobs': [{'title': 'Founder and CEO', 'compan...","[Big Data and Analytics, DIGITAL IT News, Bill...","{'publications': [], 'certifications': [], 'pa..."
3,{'$oid': '5e20582f2d080b22a8f778b0'},big data,https://www.linkedin.com/in/bmhamza,"{'name': 'Hamza Ben Marzouk', 'headline': 'Dat...","[{'name': 'Java', 'endorsements': '20'}, {'nam...",1563535422000,{'jobs': [{'title': 'Consultant Data Engineer'...,"[SAP, Big Data | Data Science | A.I. | IoT | M...","{'publications': [], 'certifications': [], 'pa..."
4,{'$oid': '5e20582f2d080b22a8f778b1'},hibernate,https://www.linkedin.com/in/habib-morchedi-755...,"{'name': 'Habib Morchedi', 'headline': 'Ingéni...","[{'name': 'Microsoft Office', 'endorsements': ...",1568388193110,"{'jobs': [{'title': 'Projet de fin d’études', ...","[Sony, IBM, General Motors, Hewlett Packard En...","{'publications': [], 'certifications': [], 'pa..."
...,...,...,...,...,...,...,...,...,...
9995,{'$oid': '5e2058312d080b22a8f79fb8'},(Angular | AngularJs) Sofrecom Wevioo,https://www.linkedin.com/in/yahyaoui-houssem-8...,"{'name': 'Yahyaoui Houssem', 'headline': 'chef...","[{'name': 'PHP5', 'endorsements': '7'}, {'name...",1571235674990,"{'jobs': [{'title': 'chef de projet - RSI', 'd...","[Satya Nadella, France Freelance, 3IE - Instit...","{'publications': [], 'certifications': [], 'pa..."
9996,{'$oid': '5e2058312d080b22a8f79fb9'},c++,https://www.linkedin.com/in/oussama-ben-salem-...,"{'name': 'Oussama Ben Salem', 'headline': 'En ...","[{'name': 'Linux', 'endorsements': '1'}, {'nam...",1563551605000,"{'jobs': [{'title': 'Stagiaire à IBM Tunisie',...","[Université libre de Tunis, TECHNOLOGY JOBS NE...","{'publications': [], 'certifications': [], 'pa..."
9997,{'$oid': '5e2058312d080b22a8f79fba'},j2ee,https://www.linkedin.com/in/ghada-ben-boubaker,"{'name': 'Ghada Boubaker', 'headline': 'Webmas...","[{'name': 'SQL', 'endorsements': '26'}, {'name...",1571652427340,{'jobs': [{'title': 'Webmestre / Intégrateur W...,[Art Lovers & Artistic Creations [Paintings | ...,"{'publications': [], 'certifications': [], 'pa..."
9998,{'$oid': '5e2058312d080b22a8f79fbb'},Vermeg,https://www.linkedin.com/in/syrine-fadhli-2683...,"{'name': 'Syrine Fadhli', 'headline': 'Busines...",[],1569497024507,"{'jobs': [], 'education': [], 'volunteering': []}",[],"{'publications': [], 'certifications': [], 'pa..."
9999,{'$oid': '5e2058312d080b22a8f79fbc'},microsoft azure,https://www.linkedin.com/in/ahmed-khemiri-b334...,"{'name': 'ahmed khemiri', 'headline': 'Microso...","[{'name': 'Big Data', 'endorsements': '2'}, {'...",1566840775000,{'jobs': [{'title': 'Microsoft Student Partner...,"[Altran, Brad Smith, Data Mining, Statistics, ...",{'publications': ['PDF Processing with Python ...

In [7]:
# put experience column into dataframe
experiences = pd.json_normalize(df1['personal_info']) 
experiences.head(40)

,name,headline,company,school,location,summary,image,followers,email,phone,connected,websites
0,Imen Hammi,Architecte principal \nMunicipalite de Sousse,None,None,"Tozeur Governorate, Tunisia",,https://media.licdn.com/dms/image/C4E03AQF-9nd...,,None,None,None,[]
1,Helmi Nour,Computer science | DevOps engineer at Infor,Infor,"Faculté des Sciences Mathématiques, Physiques ...","Gouvernorat de Tunis, Tunisia",We build softwares for people who build softwa...,https://media.licdn.com/dms/image/C4D03AQH_Et-...,,None,None,None,[]
2,Zied Brahmi,CEO IDO DEVELOPERS / WEB DEVELOPER,None,None,Tunisie,,https://media.licdn.com/dms/image/C5603AQEYO8F...,,None,None,None,[]
3,Hamza Ben Marzouk,Data Engineer,OCTO Technology,Université Paris Dauphine,"Région de Paris, France",,https://media.licdn.com/dms/image/C5603AQGbf6y...,1 468 abonnés,None,None,None,[]
4,Habib Morchedi,Ingénieur en Génie Industriel,None,Ecole Polytechnique Internationale,"El Omrane Supérieur, Tunis Governorate, Tunisia",ingénieur en Génie Industriel,https://media.licdn.com/dms/image/C5603AQGxFKv...,,None,None,None,[]
5,Ines Mahjoub,Credit Approval Applications Manager chez Créd...,Crédit Agricole CIB,Institut des Hautes Etudes Commerciales de Car...,"Paris Area, France",,https://media.licdn.com/dms/image/C5603AQENuch...,,None,None,None,[]
6,Hamza KEFI,Project Manager,ALL Circuits,Ecole nationale d'Ingénieurs de Monastir,"Gouvernorat de Tunis, Tunisia","Ingénieur mécanique de formation, avec plus de...",https://media.licdn.com/dms/image/C5603AQFG45f...,,None,None,None,[]
7,Maroua ELLOUZE,Technical Lead at be-softilys Tunisie,be-softilys Tunisie,Ecole Nationale des Sciences de l’Informatique,Tunisie,,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",1 128 abonnés,None,None,None,[]
8,Omar Ghazouani,Ingénieur structure génie civil chez aucune,aucune,ensit,"Nabeul Governorate, Tunisia",,https://media.licdn.com/dms/image/C5603AQEyNYu...,,None,None,None,[]
9,Talmoudi Khouloud,PhD. Student BioStatistics Epidemiology and St...,None,Ecole Nationale d'Ingénieurs de Tunis,Tunisie,,https://media.licdn.com/dms/image/C5603AQHSqhX...,,None,None,None,[]
10,kammoun walid,Consultant DevOps chez Euler Hermes,Euler Hermes,None,"Région de Paris, France",,https://media.licdn.com/dms/image/C4E03AQHHjKQ...,,None,None,None,[]
11,walid H.,Développeur front-end Angular,None,None,"Nabeul Governorate, Tunisia",je m'appel Walid âgé de 33 ans titulaires d'un...,https://media.licdn.com/dms/image/C5603AQE4uaV...,"2,973",None,None,None,[]
12,Fayez DEBBABI ☁️,DevOps Engineer-AWS Certified Solutions Archit...,None,None,"Saint-Denis, Île-de-France, France",Experienced Developer with a demonstrated hist...,https://media.licdn.com/dms/image/C4D03AQF00PZ...,,None,None,None,[https://www.quora.com/profile/Fayez-Debbabi]
13,Nada Ghedamsi,Business Developer at Valomnia,None,None,"Gouvernorat de Sousse, Tunisia",,https://media.licdn.com/dms/image/C4E03AQEEUN0...,,None,None,None,[]
14,Hanen Ben Ali,Fullstack java developer,Contact Center Services,National Engineering School of Sfax (ENIS),"Gouvernorat de l’Ariana, Tunisia",,https://media.licdn.com/dms/image/C4E03AQHi5Vx...,396 abonnés,None,None,None,[]
15,Moncef Bettaieb,Consultant Big data chez Bnp Paribas,BGFi consulting,Esprit,France,mail : moncefbetttaieb@gmail.com\n... voir plus,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",,None,None,None,[http://moncefbettaieb.me/]
16,Ali Daboussi,Gérant chez UNIVERS-ENSEIGNES,UNIVERS-ENSEIGNES,Faculté des lettres 9 Avril - Tunis,Tunisie,,https://media.licdn.com/dms/image/C5603AQEYTGO...,82 abonnés,None,None,None,[]
17,Nada Ben Said,Junior Java/JavaEE/ReactJS Consultant at Talan...,Talan,National School of Computer Science (ENSI),"Sousse Governorate, Tunisia",,https://media.licdn.com/dms/image/C4D03AQFz9VM...,,None,None,None,[]
18,Anis THAMEUR ♠️ Capgemini,Engagement Manager,None,None,"Région de Paris, France",,https://media.licdn.com/dms/image/C4E03AQFt-fG...,,None,None,None,[]
19,Manel Bayoudh,Ingénieur développement dotNet chez Aktalys,None,None,Tunisie,,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",,None,None,None,[]
20,Cassandra Fabre,Pilote de production chez Plateforme industrie...,Plateforme industrielle de courrier PIC Armori...,Ecole des Métiers de l'Environnement,"Rennes Area, France",Étudiante en Première année cycle ingénieur in...,https://media.licdn.com/dms/image/C5603AQEBBB2...,,None,None,None,[]
21,Bellaaj Habib,consultant symfony/angular at SSII,SSII,Institut supérieure d'informatique et de multi...,"Région de Paris, France",Participer au développement micro service adre...,https://media.licdn.com/dms/image/C4D03AQHWeLj...,3 659 abonnés,None,None,None,[]
22,Nicolas S.,Développeur logiciel embarqué,None,None,"Carentan, Basse-Normandie, France","Nicolas, 33 ans, développeur informatique spéc...","data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",,None,None,None,[]
23,amani mouldi,Ingénieur Génie Logiciel (Institut superieur d...,None,Institut superieur des sciences informatiques ...,"Menzel Temime, Gouvernorat de Nabeul, Tunisia","Comme étant un ingénieur génie logiciel, jeune...",https://media.licdn.com/dms/image/C4D03AQEb8V4...,,None,None,None,[]
24,Nadia Belhassen,Ingénieur support et maintenance applicative c...,Sofrecom Tunisie,Institut Supérieur de Gestion de Tunis,Tunisie,,https://media.licdn.com/dms/image/C5603AQGQlam...,125 abonnés,None,None,None,[]
25,Ghanney Adam,Agent de facturation chez Kia Motors Tunisie,Kia Motors Tunisie,None,"La Marsa, Gouvernorat de Tunis, Tunisia",Le travail est l’esprit et le dynamisme de la ...,https://media.licdn.com/dms/image/C4D03AQGBxY4...,,None,None,None,[]
26,Balkis Charai,Business Consultant (Credit Automation Process...,axefinance,Ecole Supérieure Privée d'Ingénierie et de Tec...,"Gouvernorat de l’Ariana, Tunisia",,https://media.licdn.com/dms/image/C4D03AQE-W_7...,,None,None,None,[]
27,Medini Mohmaed Amine,technicien supérieur en télécommunication chez...,None,None,"Gouvernorat de Tunis, Tunisia",,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",,None,None,None,[]
28,ibrahim zammel,JAVA /JEE Engineer,OPEN,Private Higher School of Engineering and Techn...,"Rueil-Malmaison, Île-de-France, France",Spécialisations :Full stack Engineer using Sp...,https://media.licdn.com/dms/image/C4D03AQGhRN8...,460 abonnés,None,None,None,[]
29,Hiba Feidi,Ingénieur de développement web chez Atos,None,None,"Savigny-sur-Orge, Île-de-France, France",je suis une jeune développeuse web sérieuse et...,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",,None,None,None,[]
30,Noureddine Smida,Ingénieur en Technologie de l'information chez...,None,None,"Paris Area, France",,https://media.licdn.com/dms/image/C4D03AQH_k3R...,,None,None,None,[https://www.monster.fr/profile/profile]
31,Abdesslem Nahli,Ingénieur Etudes et Développement JAVA/JEE,CNOP,ESPRIT,"Région de Paris, France",Concepteur/Développeur JAVA/JEESystème: Window...,https://media.licdn.com/dms/image/C4E03AQHfiu6...,,None,None,None,[]
32,HAJJI Mohamed,Ingénieur DevOps chez STMicroelectronics | RHCSA®,STMicroelectronics,Ecole Nationale d'Ingenieurs de Tunis,"Gouvernorat de Tunis, Tunisia",,https://media.licdn.com/dms/image/C4D03AQFrLgt...,,None,None,None,[]
33,Slim Abdeljelil,Conseiller juridique chez World Bank Group,None,None,"Tunis Governorate, Tunisia",La mission de conseiller chargé de mission aup...,https://media.licdn.com/dms/image/C4E03AQGS-1f...,"2,672",None,None,None,[]
34,Asma Khan,Quality Manager at Synergy Biologics,Synergy Biologics,University of science Bizert,"Birmingham, Royaume-Uni",,https://media.licdn.com/dms/image/C4D03AQGlqvi...,,None,None,None,[]
35,Mohamed BEN SLAMA,Business Development Manager | Forex trader & ...,None,None,"Sousse Riadh, Gouvernorat de Sousse, Tunisia","Developper by day, Entrepreneur by night. Trad...",https://media.licdn.com/dms/image/C5603AQEsgp7...,704 abonnés,None,None,None,[]
36,Moetez BEN SALAH ●,Data Designer chez Société Générale,None,None,"Paris 01, Île-de-France, France",,https://media.licdn.com/dms/image/C5103AQE6om_...,210 abonnés,None,None,None,[]
37,Omar Kammoun,Architecte logiciels chez Societe Generale Cor...,Societe Generale Corporate and Investment Bank...,National Institute of Applied Science and Tech...,"Paris Area, France",Je suis adepte du Software craftsmanship. J'es...,https://media.licdn.com/dms/image/C4E03AQHaeze...,,None,None,None,[]
38,Jarboui Mohamed,Étudiant à Universiti Teknologi Kreatif Limkok...,None,Universiti Teknologi Kreatif Limkokwing,"Gouvernorat de Sfax, Tunisia",,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",,None,None,None,[]
39,Aziz Boulares,ICT engineering student at SUP'COM - Looking f...,None,SUP'COM,Tunisia,,https://media.licdn.com/dms/image/C5603AQFqsAB...,,None,None,None,[]

##   Extract the most useful features from the experience  column which contains  jobs  & education  & volunteering information

In [8]:
# put experience column into dataframe
experiences = pd.json_normalize(df1['experiences']) 
experiences.head(4)

,jobs,education,volunteering
0,"[{'title': 'Architecte Principal', 'company': ...",[{'name': 'Ecole nationale d'architecture et d...,[]
1,[{'title': 'Computer science | DevOps engineer...,"[{'name': 'Faculté des Sciences Mathématiques,...",[]
2,"[{'title': 'Founder and CEO', 'company': 'IDO ...","[{'name': 'faculté des sciences de sfax', 'deg...","[{'title': 'Bénévole', 'company': 'Tedx Djerba..."
3,"[{'title': 'Consultant Data Engineer', 'compan...","[{'name': 'Université Paris Dauphine', 'degree...","[{'title': 'Member', 'company': 'JCI INSAT', '..."

# ----------------------------------------------------------------------------------------------------

## 3- Extract the professional skills from the job description field

In [10]:
experiences['jobs']

[{'title': 'Architecte Principal',
  'company': 'Municipalité',
  'date_range': 'Apr 2015 – Present',
  'location': 'Sousse',
  'description': None,
  'li_company_url': 'https://www.linkedin.com/company/municipalit-service/'},
 {'title': 'Architecte',
  'date_range': 'Nov 2011 – Present',
  'location': None,
  'description': None,
  'company': "Atelier d'architecture Chaker ZAYATI",
  'li_company_url': ''},
 {'title': 'Architecte',
  'date_range': 'Nov 2012 – Mar 2015',
  'location': None,
  'description': None,
  'company': "Atelier d'architecture Chaker ZAYATI",
  'li_company_url': ''},
 {'title': 'Architecte stagiaire',
  'date_range': 'Nov 2011 – Oct 2012',
  'location': None,
  'description': None,
  'company': "Atelier d'architecture Chaker ZAYATI",
  'li_company_url': ''}]

In [12]:
import pickle 
with open('exp.pkl','wb') as file :
    pickle.dump(experiences,file)

In [20]:
skill = pd.read_csv("df_final18_04_2020.csv" , sep='\t')
skill.drop(['Unnamed: 0'], axis=1, inplace=True)
import pickle 
with open('skill.pkl','wb') as file :
    pickle.dump(skill.loc[:,:'rédaction'],file)

In [45]:
skill.loc[:,:'rédaction']

,date_exp,javascript,sql,nosql,node.js,express.js,koa.js,hapi.js,angularjs,react.js,jquery,bash,nginx,c,c++,html5,css,rest,sass,postcss,webpack,gitlab,linux,embedded c,embedded c++,java,jee,microservices,intégration continue,docker,aws,nodejs,ext.js,html,mongodb,mysql,spring,soa,soap,git,svn,jira,confluence,spring boot,spring security,java 8,php,symfony,architecture restful,cms,drupal,scrum,analyse fonctionnelle,testing,rédaction
0,232,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,49,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,330,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,79,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9996,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,52,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,98,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [66]:
with open('exp.pkl','rb') as file :
    exp=pickle.load(file)
exp

,jobs,education,volunteering
0,"[{'title': 'Architecte Principal', 'company': ...",[{'name': 'Ecole nationale d'architecture et d...,[]
1,[{'title': 'Computer science | DevOps engineer...,"[{'name': 'Faculté des Sciences Mathématiques,...",[]
2,"[{'title': 'Founder and CEO', 'company': 'IDO ...","[{'name': 'faculté des sciences de sfax', 'deg...","[{'title': 'Bénévole', 'company': 'Tedx Djerba..."
3,"[{'title': 'Consultant Data Engineer', 'compan...","[{'name': 'Université Paris Dauphine', 'degree...","[{'title': 'Member', 'company': 'JCI INSAT', '..."
4,"[{'title': 'Projet de fin d’études', 'company'...",[{'name': 'Ecole Polytechnique Internationale'...,[]
...,...,...,...
9995,"[{'title': 'chef de projet - RSI', 'date_range...","[{'name': 'Issat de Sousse', 'degree': 'Diplôm...",[]
9996,"[{'title': 'Stagiaire à IBM Tunisie', 'company...","[{'name': 'UNIVERSITE CENTRALE POLYTECH', 'deg...",[]
9997,"[{'title': 'Webmestre / Intégrateur Web', 'com...",[{'name': 'École Nationale Supérieure des Ingé...,[]
9998,[],[],[]
9999,"[{'title': 'Microsoft Student Partner', 'date_...","[{'name': 'Faculty of law, Economics and Manag...","[{'title': 'Trainer', 'company': 'IEEE', 'date..."

In [65]:
skill['date_exp'][2]//12

27

In [75]:
exp['education'][3]

[{'name': 'Université Paris Dauphine',
  'degree': 'Master 2 (M2)',
  'grades': None,
  'field_of_study': 'BigData / Data Science',
  'date_range': '2017 – 2018',
  'activities': None},
 {'name': 'National Institute of Applied Science and Technology',
  'degree': "Engineer's degree",
  'grades': None,
  'field_of_study': 'Networking and Telecommunications',
  'date_range': '2012 – 2017',
  'activities': 'Securinets INSAT, JCI INSAT, Tunisian Aeroday, INSAT-PRESS'},
 {'name': 'Pioneer High School Nabeul',
  'degree': 'Tunisian Baccalaureate',
  'grades': None,
  'field_of_study': 'Mathematics',
  'date_range': '2008 – 2012',
  'activities': None}]

In [58]:
l=[]
for i in exp.loc[1,'job':=].columns:
    if skill[i][1]!=0:
        print(i)
        l.append(i)
l

sql
angularjs
bash
c
linux
java
docker
aws
nodejs
testing

['sql',
 'angularjs',
 'bash',
 'c',
 'linux',
 'java',
 'docker',
 'aws',
 'nodejs',
 'testing']

In [34]:
import pickle 
with open('skill.pkl','wb') as file :
    pickle.dump(skill.loc[:,:'rédaction'],file)

In [35]:
with open('skill.pkl','rb') as file :
    exp=pickle.load(file)

In [36]:
exp

,date_exp,javascript,sql,nosql,node.js,express.js,koa.js,hapi.js,angularjs,react.js,jquery,bash,nginx,c,c++,html5,css,rest,sass,postcss,webpack,gitlab,linux,embedded c,embedded c++,java,jee,microservices,intégration continue,docker,aws,nodejs,ext.js,html,mongodb,mysql,spring,soa,soap,git,svn,jira,confluence,spring boot,spring security,java 8,php,symfony,architecture restful,cms,drupal,scrum,analyse fonctionnelle,testing,rédaction
0,232,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,49,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,330,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,79,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9996,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,52,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,98,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 3-1 extract all job description of each profile into a list in order to text processing using NLP techniques

In [18]:

list=[]
listall =[0 for i in range(10000)]
for i in range(0,10000):
    c=len(experiences['jobs'][i])
    
    for j in range(0,c-1):
        if experiences['jobs'][i][j]['description'] != None:
            list.append(experiences['jobs'][i][j]['description'].lower())
    listall[i]= list.copy()
    list.clear()

In [19]:
listall[1]

['mission at sagemcom:worked as full stack developer on smart metering projects based on java enterprise edition & osgi frameworks including technologies like apache {karaf, activemq, camel …}, postgresql, hazelcast, angular …performance testing on preproduction linux based platforms using basically jmeter as a testing tool alongside my graduation project elk based solution as a monitoring tool.\nvoir moins\n... voir plus',
 'developping a load tests supervising tool for osgi applications :• implementing the monitoring tool using elk stack.• extanding the monitoring tool with an alerting system.• developping a kibana plugin for reporting.• automate the deployment of the application.used technologies: linux, bash, yaml, aws (ec2), docker, ansible, elasticsearch, logstash,kibana, beats, elastalert, phantomjs, nodejs, angularjs, bitbucket.\nvoir moins\n... voir plus',
 'implementing a high-availability data system:• implementing the solution using galera cluster.• enhancing the solution with docker containers.• automate the deployment of the application.used technologies: linux, bash, yaml, docker, ansible, mariadb, galera cluster, vagrant.\nvoir moins\n... voir plus']

In [20]:
# download the necessary strop words using the nltk package (english and frensh stopwords)
nltk.download('stopwords')
stop_words=set(stopwords.words("english"))
#print(stop_words)

stop_wordsf=set(stopwords.words("french"))
#print(stop_wordsf)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Marwa\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

### 3-2  Read the wevioo excel file to identify dynamically  the skills which wevioo needs the most

In [21]:
exel_wev= pd.read_excel("wevioo rh skills with coefs.xlsx")
filtred_tec=[]
for i in range(len(exel_wev["technologies"])):
    filtred_tec.append(exel_wev["technologies"][i].lower())
len(filtred_tec)
listWeevio = []
for i in filtred_tec:
    if i not in listWeevio:
    
        listWeevio.append(i)
print(listWeevio)

['javascript', 'sql', 'nosql', 'node.js', 'express.js', 'koa.js', 'hapi.js', 'angularjs', 'react.js', 'jquery', 'bash', 'nginx', 'c', 'c++', 'html5', 'css', 'rest', 'sass', 'postcss', 'webpack', 'gitlab', 'linux', 'embedded c', 'embedded c++', 'java', 'jee', 'microservices', 'intégration continue', 'docker', 'aws', 'nodejs', 'ext.js', 'html', 'mongodb', 'mysql', 'spring', 'soa', 'soap', 'git', 'svn', 'jira', 'confluence', 'spring boot', 'spring security', 'java 8', 'php', 'symfony', 'architecture restful', 'cms', 'drupal', 'scrum', 'analyse fonctionnelle', 'testing', 'rédaction']

### 3-3 Match the wevioo skills whith each profil job description to extract professional skills

In [22]:
l=len(listall)
filtered_sent=[]
filtered_sent1=[]
filtered_fin=[]
filtredall =[0 for i in range(10000)]
for i in range(0,10000):
    filtered_fin.clear()
    filtered_sent.clear()
    
    if (listall[i] != []) == True:
        
        for j in range(0,len(listall[i])):
     
            for w1 in listWeevio:
            
                if  w1  in listall[i][j]:
                    filtered_fin.append(w1)
                    
    filtredall[i]= filtered_fin.copy()
    filtered_fin.clear()

In [23]:
# Create empty dataframe : the columns are the professional skills and the index are the profiles
l=np.eye(10000,len(listWeevio))
dft2 = pd.DataFrame(l,  columns=listWeevio)
dft2.head(2)

,javascript,sql,nosql,node.js,express.js,koa.js,hapi.js,angularjs,react.js,jquery,bash,nginx,c,c++,html5,css,rest,sass,postcss,webpack,gitlab,linux,embedded c,embedded c++,java,jee,microservices,intégration continue,docker,aws,nodejs,ext.js,html,mongodb,mysql,spring,soa,soap,git,svn,jira,confluence,spring boot,spring security,java 8,php,symfony,architecture restful,cms,drupal,scrum,analyse fonctionnelle,testing,rédaction
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 3-4 fill the data frame with its relevant professional skills of each LinkedIn profile

In [24]:
for i in (range(10000)):
    for j in dft2.columns:
        if (j in filtredall[i]) == True:
            #print(j ,"===", filtredall[i])
            dft2.loc[[i],[j]]=filtredall[i].count(j)   
        else :
            dft2.loc[[i],[j]]=0

In [25]:
dft2

,javascript,sql,nosql,node.js,express.js,koa.js,hapi.js,angularjs,react.js,jquery,bash,nginx,c,c++,html5,css,rest,sass,postcss,webpack,gitlab,linux,embedded c,embedded c++,java,jee,microservices,intégration continue,docker,aws,nodejs,ext.js,html,mongodb,mysql,spring,soa,soap,git,svn,jira,confluence,spring boot,spring security,java 8,php,symfony,architecture restful,cms,drupal,scrum,analyse fonctionnelle,testing,rédaction
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# ----------------------------------------------------------------------------------------------------

## 4- Extract the Academic  skills from the Skills Feature

In [26]:
df1.head(2)

,_id,search,url,personal_info,skills,scraped_time,experiences,interests,accomplishments
0,{'$oid': '5e20582f2d080b22a8f778ad'},Eureka,https://www.linkedin.com/in/imen-hammi-3102919a,"{'name': 'Imen Hammi', 'headline': 'Architecte...","[{'name': 'AutoCAD', 'endorsements': '5'}, {'n...",1572111565156,"{'jobs': [{'title': 'Architecte Principal', 'c...",[Municipalité Service],"{'publications': [], 'certifications': [], 'pa..."
1,{'$oid': '5e20582f2d080b22a8f778ae'},AWS,https://www.linkedin.com/in/nourhelmi,"{'name': 'Helmi Nour', 'headline': 'Computer s...","[{'name': 'Linux', 'endorsements': '29'}, {'na...",1569510916166,{'jobs': [{'title': 'Computer science | DevOps...,"[Umanis, Cloud Computing, SaaS & Virtualizatio...","{'publications': [], 'certifications': [], 'pa..."

In [27]:
# example of skills feature
df1['skills'][1][1:8]

[{'name': 'Python', 'endorsements': '24'},
 {'name': 'C', 'endorsements': '23'},
 {'name': 'C++', 'endorsements': '21'},
 {'name': 'Docker', 'endorsements': '20'},
 {'name': 'Java', 'endorsements': '18'},
 {'name': 'SQL', 'endorsements': '16'},
 {'name': 'MySQL', 'endorsements': '15'}]

### 4-1 extract all skills of each profile into a list

In [28]:
list1=[]
listall1=[0 for i in range(10000)]
for i in range(0,len(listall1)):
    c=len(df1['skills'][i])
    
    for j in range(0,c):
        if df1['skills'][i][j]['name'] != None:
            list1.append(df1['skills'][i][j]['name'].lower())
    listall1[i]= list1.copy()
    list1.clear()

In [29]:
listall1[2]

['microsoft office',
 'microsoft excel',
 'microsoft word',
 'research',
 'strategic planning',
 'budgets',
 'développement pour android',
 'gestion de projet',
 'réseaux sociaux',
 'powerpoint',
 'windows',
 'outlook',
 'photoshop',
 'html',
 'java',
 'php',
 'mysql',
 'javascript',
 'sql',
 'feuilles de style en cascade (css)',
 'xml',
 'ionic framework',
 'drupal',
 'html5',
 'angularjs',
 'wordpress',
 'joomla',
 'jquery',
 'customer service',
 'teaching',
 'public speaking',
 'gestion d’équipe',
 'management',
 'english',
 'apache cordova',
 'prestashop']

In [30]:
# Create empty dataframe : the columns are the professional skills and the index are the profiles
l=np.eye(10000,len(listWeevio))
dft_skill = pd.DataFrame(l,  columns=listWeevio)
dft_skill

,javascript,sql,nosql,node.js,express.js,koa.js,hapi.js,angularjs,react.js,jquery,bash,nginx,c,c++,html5,css,rest,sass,postcss,webpack,gitlab,linux,embedded c,embedded c++,java,jee,microservices,intégration continue,docker,aws,nodejs,ext.js,html,mongodb,mysql,spring,soa,soap,git,svn,jira,confluence,spring boot,spring security,java 8,php,symfony,architecture restful,cms,drupal,scrum,analyse fonctionnelle,testing,rédaction
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 4-2  Match the wevioo skills whith each profil skills to extract academic skills & fill the data frame with its relevant academic skills

In [31]:
for i in (range(10000)):
    for j in dft_skill.columns:
        if (j in listall1[i] ) == True:
            dft_skill.loc[[i],[j]]=listall1[i].count(j)
           
        else :
            dft_skill.loc[[i],[j]]=0

In [32]:
dft_skill.rename(columns=lambda s: s+'_academic',inplace=True)
dft_skill

,javascript_academic,sql_academic,nosql_academic,node.js_academic,express.js_academic,koa.js_academic,hapi.js_academic,angularjs_academic,react.js_academic,jquery_academic,bash_academic,nginx_academic,c_academic,c++_academic,html5_academic,css_academic,rest_academic,sass_academic,postcss_academic,webpack_academic,gitlab_academic,linux_academic,embedded c_academic,embedded c++_academic,java_academic,jee_academic,microservices_academic,intégration continue_academic,docker_academic,aws_academic,nodejs_academic,ext.js_academic,html_academic,mongodb_academic,mysql_academic,spring_academic,soa_academic,soap_academic,git_academic,svn_academic,jira_academic,confluence_academic,spring boot_academic,spring security_academic,java 8_academic,php_academic,symfony_academic,architecture restful_academic,cms_academic,drupal_academic,scrum_academic,analyse fonctionnelle_academic,testing_academic,rédaction_academic
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
df_skill_final=pd.concat([dft2,dft_skill],axis=1,sort=False)
df_skill_final
df_skill_final.shape

(10000, 108)

# ----------------------------------------------------------------------------------------------------

## 5- Extract the  Date Experience from the date_range experiences field

In [34]:
experiences['jobs'][1][1]

{'title': 'Computer science | Software engineer at Talan consulting',
 'date_range': 'juil. 2017 – mars 2018',
 'location': 'Tunisie',
 'description': 'Mission at SAGEMCOM:Worked as full stack developer on smart metering projects based on Java Enterprise Edition & OSGi frameworks including technologies like Apache {Karaf, ActiveMQ, Camel …}, PostgreSQL, HazelCast, Angular …Performance testing on preproduction Linux based platforms using basically Jmeter as a testing tool alongside my graduation project ELK based solution as a monitoring tool.\nVoir moins\n... Voir plus',
 'company': 'Talan Tunisie',
 'li_company_url': 'https://www.linkedin.com//company/3101495/'}

### 5-1 extract date_range  of each profile into a list

In [35]:
list=[]
listall_date =[0 for i in range(10000)]
for i in range(0,10000):
    c=len(experiences['jobs'][i])
    
    for j in range(0,c):
        if experiences['jobs'][i][j]['date_range'] != None:
            list.append(experiences['jobs'][i][j]['date_range'].lower())
    listall_date[i]= list.copy()
    list.clear()
listall_date[9]

['nov. 2013 – juin 2019',
 'mai 2018 – sept. 2018',
 'mai 2016 – avr. 2017',
 'févr. 2012 – mai 2012',
 'juil. 2011',
 'juil. 2010']

### 5-2 Calculate the experience duration  of each profile

In [36]:
# calculate the sum of the experiences for each profile 
# we verify first if the date range is in english or in frensh
# we calculate the date range for each experience for each profile then we sum them
# the final experience is in mounths because we found that there is some expreiences which are less than one year
fr = ["janv." ,"févr." , "mars", "avr." , "mai" , "juin" , "juil.", "août", "sept." , "oct." , "nov." , "déc." , "avr.","juil."]
filtered_fin=[]
filtredall_date =[0 for i in range(10000)]
for i in range(0,10000):
    filtered_fin.clear()
    filtered_sent.clear()
    if (listall_date[i] != []) == True :
        for j in range(0,len(listall_date[i])):
            d=experiences['jobs'][i][j]['date_range']
            if d is None:
                diff=0
            else:
                x=d.split('–')
            
                if d.find('–')==-1:
                    diff=1
                elif (x[0].strip().isdigit() == True) and ( x[1].strip().isdigit() == True):
                    diff=abs(int(x[0])-int(x[1]))*12
                else:
                    x=d.split('–')
                    s=x[0].split()
                    if x[0].strip().isdigit() == True :
                        datedeb = datetime.strptime(x[0].strip(), '%Y').date() 
                    elif (s[0]  not in fr)==True:
                        locale.setlocale(locale.LC_ALL,'en_US.UTF-8') 
                        datedeb = datetime.strptime(x[0], '%b %Y ').date()
                    else:
                        locale.setlocale(locale.LC_ALL, 'fr_FR') 
                        datedeb = datetime.strptime(x[0], '%b %Y ').date()

                
                    s1=x[1].split()
                    s1[0]
                    #print(x[1])
                    if x[1]== " Present" or x[1]== " Aujourd’hui":
                        y=date.today().strftime('%Y-%m-%d')
                        datefin= datetime.strptime(y, '%Y-%m-%d').date()
                        #print(datefin)
                    elif x[1].strip().isdigit() == True :
                        datefin = datetime.strptime(x[1].strip(), '%Y').date() 
                    elif (s1[0]  not in fr)==True:
                        locale.setlocale(locale.LC_ALL,'en_US.UTF-8') 
                        datefin = datetime.strptime(x[1], ' %b %Y').date()
                        #print(datefin)
                    else:
                        locale.setlocale(locale.LC_ALL, 'fr_FR') 
                        datefin = datetime.strptime(x[1], ' %b %Y').date()
                        #print(datefin)    
                    diff = (datefin.year - datedeb.year)*12 + abs (datefin.month - datedeb.month)
                #print(diff)
                filtered_fin.append(diff)
                        #print(filtered_fin)

    filtredall_date[i]= filtered_fin.copy()
    #print(filtredall)
    filtered_fin.clear()
        
#filtredall_date

### 5-3 Calculate the sum for the experience of each linkedin profile

In [ ]:
date_exp=[sum(filtredall_date[i]) for i in range(10000)]
dfdate = pd.DataFrame(date_exp , columns=["date_exp"])
dfdate.head(10)

In [38]:
df_final1=pd.concat([dfdate,df_skill_final],axis=1,sort=False)
df_final1.dropna()

,date_exp,javascript,sql,nosql,node.js,express.js,koa.js,hapi.js,angularjs,react.js,jquery,bash,nginx,c,c++,html5,css,rest,sass,postcss,webpack,gitlab,linux,embedded c,embedded c++,java,jee,microservices,intégration continue,docker,...,java_academic,jee_academic,microservices_academic,intégration continue_academic,docker_academic,aws_academic,nodejs_academic,ext.js_academic,html_academic,mongodb_academic,mysql_academic,spring_academic,soa_academic,soap_academic,git_academic,svn_academic,jira_academic,confluence_academic,spring boot_academic,spring security_academic,java 8_academic,php_academic,symfony_academic,architecture restful_academic,cms_academic,drupal_academic,scrum_academic,analyse fonctionnelle_academic,testing_academic,rédaction_academic
0,232,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,49,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,330,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,79,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9996,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,52,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,98,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# ---------------------------------------------------------------------------------------------------

## 6- Extract the  languages accomplishments field

### 6-1 extract languages of each profile and put it into a list

In [39]:
list1=[]
listall_lang=[0 for i in range(10000)]
for i in range(0,len(listall_lang)):
    c=len(df1['accomplishments'][i]['languages'])
    
    for j in range(0,c):
        if df1['accomplishments'][i]['languages'] != None:
            list1.append(df1['accomplishments'][i]['languages'][j].lower())
    listall_lang[i]= list1.copy()
    list1.clear()

### 6-2 identify each language (written in frensh or in english)

In [40]:
for j in range(10000):
    for i in range (len(listall_lang[j])):
        if listall_lang[j][i].startswith("ar"):
            listall_lang[j][i]='arabe'
        elif "eng" in listall_lang[j][i] or  "ang" in listall_lang[j][i]:
            listall_lang[j][i]='english'
        elif listall_lang[j][i].startswith("fr"):
            listall_lang[j][i]='français'
        elif listall_lang[j][i].startswith("all"):
            listall_lang[j][i]='allemand'
        elif listall_lang[j][i].startswith("esp"):
            listall_lang[j][i]='espagnol'
        elif listall_lang[j][i].startswith("it"):
            listall_lang[j][i]='italien'
        else :
            listall_lang[j][i]='others'

In [42]:
# create an empty dataframe which contains the most languages wevioo needs
dec_lang=["arabe" ,"english", "français" ,"allemand","espagnol","italien","others"]
l=np.eye(10000,7)
dft_lang = pd.DataFrame(l,  columns=dec_lang)
dft_lang.head(3)

   arabe  english  français  allemand  espagnol  italien  others
0    1.0      0.0       0.0       0.0       0.0      0.0     0.0
1    0.0      1.0       0.0       0.0       0.0      0.0     0.0
2    0.0      0.0       1.0       0.0       0.0      0.0     0.0

### 6-3  Match and fill the data frame with the languages

In [43]:
for i in (range(10000)):
    for j in dft_lang.columns:
        if (j in listall_lang[i] ) == True:
            dft_lang.loc[[i],[j]]=1
           
        else :
            dft_lang.loc[[i],[j]]=0

In [44]:
dft_lang.head(15)

    arabe  english  français  allemand  espagnol  italien  others
0     0.0      0.0       0.0       0.0       0.0      0.0     0.0
1     1.0      1.0       1.0       0.0       0.0      0.0     0.0
2     1.0      1.0       1.0       0.0       0.0      0.0     0.0
3     1.0      1.0       1.0       0.0       0.0      0.0     1.0
4     1.0      1.0       1.0       0.0       0.0      1.0     0.0
5     1.0      1.0       1.0       0.0       0.0      0.0     0.0
6     1.0      1.0       1.0       0.0       1.0      0.0     0.0
7     0.0      1.0       0.0       0.0       0.0      0.0     0.0
8     0.0      0.0       0.0       0.0       0.0      0.0     0.0
9     0.0      0.0       0.0       0.0       0.0      0.0     0.0
10    1.0      1.0       1.0       1.0       0.0      0.0     0.0
11    1.0      1.0       1.0       0.0       0.0      0.0     0.0
12    1.0      1.0       1.0       0.0       0.0      0.0     0.0
13    1.0      1.0       1.0       0.0       0.0      0.0     0.0
14    1.0      1.0       1.0       0.0       0.0      0.0     0.0

In [45]:
df_final2=pd.concat([df_final1,dft_lang],axis=1,sort=False)
df_final2

,date_exp,javascript,sql,nosql,node.js,express.js,koa.js,hapi.js,angularjs,react.js,jquery,bash,nginx,c,c++,html5,css,rest,sass,postcss,webpack,gitlab,linux,embedded c,embedded c++,java,jee,microservices,intégration continue,docker,...,ext.js_academic,html_academic,mongodb_academic,mysql_academic,spring_academic,soa_academic,soap_academic,git_academic,svn_academic,jira_academic,confluence_academic,spring boot_academic,spring security_academic,java 8_academic,php_academic,symfony_academic,architecture restful_academic,cms_academic,drupal_academic,scrum_academic,analyse fonctionnelle_academic,testing_academic,rédaction_academic,arabe,english,français,allemand,espagnol,italien,others
0,232,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,49,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
2,330,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
3,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,79,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
9996,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
9997,52,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0
9998,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,98,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0

# ---------------------------------------------------------------------------------------------------

## 7- Extract the university name from the Education  field

In [79]:
experiences['education'][1][1]

{'name': 'Institut supérieur des sciences appliquées et de technologie de Mahdia',
 'degree': 'Diplôme des études préparatoires',
 'grades': None,
 'field_of_study': 'Mathématiques et physique',
 'date_range': '2012 – 2014',
 'activities': None}

### 7-1 extract all the name of university  of each profile into a list

In [46]:
list_edu=[]
list_edu_all =[0 for i in range(10000)]
for i in range(0,10000):
    c=len(experiences['education'][i])
    
    for j in range(0,c):
        if experiences['education'][i][j]['name'] != None:
           # print(experiences['education'][i][j]['name'])
            list_edu.append(experiences['education'][i][j]['name'].lower())
    list_edu_all[i]= list_edu.copy()
  
    list_edu.clear()

### 7-2  create a dictionary containing the different universities that wevioo recruits

In [47]:
filtred_edu_names=['ecole nationale des sciences de l\'informatique',
                   'faculté des sciences de tunis',
                   'ecole nationale d\'ingénieurs de tunis',
                   'ecole nationale d\'ingénieurs de sousse',
                   'institut national des sciences appliquées et de technologie',
                   'ecole  superieur privee d\'ingenierie et de technologies',
                  'national school of computer sciences',
                  'faculty of sciences of tunis',
                  'national engineering school of tunis',
                  'national engineering school of sousse',
                  'national institute of applied science and technology']

### 7-3  filter the 10,000 Profiles of wevioo's database and give each profile the abbreviation of its university

In [48]:
for j in range(10000):
    for i in range (len(list_edu_all[j])):
        if list_edu_all[j][i].startswith("ecole nationale des sciences de l\'informatique") or list_edu_all[j][i].startswith("national school of computer sciences") :
            list_edu_all[j][i]='ENSI'
        elif "faculté des sciences de tunis" in list_edu_all[j][i] or  "faculty of sciences of tunis" in list_edu_all[j][i]:
            list_edu_all[j][i]='FST'
        elif "ecole nationale d\'ingénieurs de tunis" in list_edu_all[j][i] or  "national engineering school of tunis" in list_edu_all[j][i]:
            list_edu_all[j][i]='ENIT'
        elif "ecole nationale d\'ingénieurs de sousse" in list_edu_all[j][i] or  "national engineering school of sousse" in list_edu_all[j][i]:
            list_edu_all[j][i]='ENISO'
        elif "institut national des sciences appliquées et de technologie" in list_edu_all[j][i] or  "national institute of applied science and technology" in list_edu_all[j][i]:
            list_edu_all[j][i]='INSAT'
        elif "ecole  superieur privee d\'ingenierie et de technologies" in list_edu_all[j][i]:
            list_edu_all[j][i]='ESPRIT'
        else :
            list_edu_all[j][i]='OTHERS'
#print(list_edu_all)

### 7-4  create a data frame containing each profile and the university in which he studied

In [49]:
facultés_dictionaire=["ENSI" ,"FST", "ENIT" ,"ENISO","INSAT","ESPRIT","OTHERS"]
l=np.eye(10000,7)
dft_education_names = pd.DataFrame(l,  columns=facultés_dictionaire)
dft_education_names;

In [50]:
for i in (range(10000)):
    for j in dft_education_names.columns:
        if (j in list_edu_all[i]) == True:
            #print(j ,"===", filtredall[i])
            dft_education_names.loc[[i],[j]]=1
        else :
            dft_education_names.loc[[i],[j]]=0

In [51]:
dft_education_names.head()

   ENSI  FST  ENIT  ENISO  INSAT  ESPRIT  OTHERS
0   0.0  0.0   0.0    0.0    0.0     0.0     1.0
1   0.0  0.0   0.0    0.0    0.0     0.0     1.0
2   0.0  0.0   0.0    0.0    0.0     0.0     1.0
3   0.0  0.0   0.0    0.0    1.0     0.0     1.0
4   0.0  0.0   0.0    0.0    0.0     0.0     1.0

# ---------------------------------------------------------------------------------------------------

## 8- Extract the Education degree of each profil : 
        #### Engineer
        #### Master
        #### Licence
        #### Others_Degree

In [81]:
experiences['education'][1][1]

{'name': 'Institut supérieur des sciences appliquées et de technologie de Mahdia',
 'degree': 'Diplôme des études préparatoires',
 'grades': None,
 'field_of_study': 'Mathématiques et physique',
 'date_range': '2012 – 2014',
 'activities': None}

### 8-1 extract all the education degree of each profile into a list

In [52]:
list_edu_degree=[]
list_edu_degree_all =[0 for i in range(10000)]
for i in range(0,10000):
    c=len(experiences['education'][i])
    
    for j in range(0,c):
        if experiences['education'][i][j]['degree'] != None:
           # print(experiences['education'][i][j]['name'])
            list_edu_degree.append(experiences['education'][i][j]['degree'].lower())
    list_edu_degree_all[i]= list_edu_degree.copy()
  
    list_edu_degree.clear()
#print(list_edu_degree_all)

###  8-2 filter the 10,000 Profiles of wevioo's database and give each profile his  education degree

In [53]:
for j in range(10000):
    for i in range (len(list_edu_degree_all[j])):
        if list_edu_degree_all[j][i].startswith("diplôme d'ingénieur") or list_edu_degree_all[j][i].startswith("engineer's degree")or list_edu_degree_all[j][i].startswith("engineer") or list_edu_degree_all[j][i].startswith("diplome nationale d'ingenieur en science de l'informatique")or list_edu_degree_all[j][i].startswith("ingenieur")or list_edu_degree_all[j][i].startswith("ingénierie en génie informatique")or list_edu_degree_all[j][i].startswith("engineering diploma")or list_edu_degree_all[j][i].startswith("diplôme national d’ingénieur en informatique")or list_edu_degree_all[j][i].startswith("national engineer degree in computer science")or list_edu_degree_all[j][i].startswith("diplôme national d'ingénieur") :
            list_edu_degree_all[j][i]='Engineer'
        elif "master of engineering" in list_edu_degree_all[j][i] or  "master's degree" in list_edu_degree_all[j][i]or  "maitrise en informatique" in list_edu_degree_all[j][i]:
            list_edu_degree_all[j][i]='Master'
        elif "licence appliquée" in list_edu_degree_all[j][i] or  "licence professionnelle" in list_edu_degree_all[j][i]or  "licence" in list_edu_degree_all[j][i]:
            list_edu_degree_all[j][i]='Licence'
        else :
            list_edu_degree_all[j][i]='Others_Degree'
#print(list_edu_degree_all);

In [54]:
degree_dict=["Engineer" ,"Master","Licence", "Others_Degree"]

In [55]:
l=np.eye(10000,4)
dft_degree = pd.DataFrame(l,  columns=degree_dict)
dft_degree.head(3)

   Engineer  Master  Licence  Others_Degree
0       1.0     0.0      0.0            0.0
1       0.0     1.0      0.0            0.0
2       0.0     0.0      1.0            0.0

### 8-3  Match and fill the data frame with the name degree

In [56]:
for i in (range(10000)):
    for j in dft_degree.columns:
        if (j in list_edu_degree_all[i] ) == True:
            dft_degree.loc[[i],[j]]=1
           
        else :
            dft_degree.loc[[i],[j]]=0

### 8-4 add a score  in order to separate each degree
                 score = 3*Engineer + 2*Master + 1*Licence + 0.5*Others_Degree

In [57]:
dft_degree['score_diplome']=3*dft_degree['Engineer']+2*dft_degree['Master']+dft_degree['Licence']+0.5*dft_degree['Others_Degree']

In [58]:
dft_degree.head(10)

   Engineer  Master  Licence  Others_Degree  score_diplome
0       0.0     0.0      0.0            1.0            0.5
1       1.0     0.0      0.0            1.0            3.5
2       0.0     0.0      0.0            1.0            0.5
3       1.0     0.0      0.0            1.0            3.5
4       1.0     0.0      0.0            1.0            3.5
5       0.0     0.0      0.0            1.0            0.5
6       0.0     0.0      0.0            1.0            0.5
7       0.0     0.0      0.0            1.0            0.5
8       1.0     0.0      0.0            0.0            3.0
9       1.0     0.0      0.0            1.0            3.5

# ---------------------------------------------------------------------------------------------------

## 9- separate the field of study  of each profil : 
      *************  IT profiles
      *************   Others_type_Of_Study

In [82]:
experiences['education'][1][1]

{'name': 'Institut supérieur des sciences appliquées et de technologie de Mahdia',
 'degree': 'Diplôme des études préparatoires',
 'grades': None,
 'field_of_study': 'Mathématiques et physique',
 'date_range': '2012 – 2014',
 'activities': None}

### 9-1 extract all the field_of_study of each profile into a list

In [59]:
list_edu_f_study=[]
list_edu_f_study_all =[0 for i in range(10000)]
for i in range(0,10000):
    c=len(experiences['education'][i])
    
    for j in range(0,c):
        if experiences['education'][i][j]['field_of_study'] != None:
           # print(experiences['education'][i][j]['name'])
            list_edu_f_study.append(experiences['education'][i][j]['field_of_study'].lower())
    list_edu_f_study_all[i]= list_edu_f_study.copy()
  
    list_edu_f_study.clear()
#print(list_edu_f_study_all)

###  9-2 filter the 10,000 Profiles of wevioo's database and give each profile his field of study

In [60]:
for j in range(10000):
    for i in range (len(list_edu_f_study_all[j])):        
        if "informatique" in list_edu_f_study_all[j][i] or  "informatique" in list_edu_f_study_all[j][i]or  "software engineering" in list_edu_f_study_all[j][i] or "computer network" in list_edu_f_study_all[j][i] or "computer science" in list_edu_f_study_all[j][i] or "data science "in list_edu_f_study_all[j][i] or "reseau" in list_edu_f_study_all[j][i] or"telecommuncation" in list_edu_f_study_all[j][i] :
            list_edu_f_study_all[j][i]='Informatique'
        else :
            list_edu_f_study_all[j][i]='Others_type_Of_Study'

In [61]:
dicti_type=["Informatique" ,"Others_type_Of_Study"]

In [62]:
l=np.eye(10000,2)
df_type_etude = pd.DataFrame(l,  columns=dicti_type)

### 9-3  Match and fill the data frame with the field of study

In [63]:
for i in (range(10000)):
    for j in df_type_etude.columns:
        if (j in list_edu_f_study_all[i] ) == True:
            df_type_etude.loc[[i],[j]]=1  
        else :
            df_type_etude.loc[[i],[j]]=0

In [64]:
df_type_etude.head(6)

   Informatique  Others_type_Of_Study
0           0.0                   1.0
1           1.0                   1.0
2           1.0                   0.0
3           0.0                   1.0
4           0.0                   1.0
5           0.0                   1.0

# ---------------------------------------------------------------------------------------------------

### Create a Data frame which conatins the personal information  of each profile

In [83]:
personal_info = pd.json_normalize(df1['personal_info']) 
personal_info.head(4)

,name,headline,company,school,location,summary,image,followers,email,phone,connected,websites
0,Imen Hammi,Architecte principal \nMunicipalite de Sousse,None,None,"Tozeur Governorate, Tunisia",,https://media.licdn.com/dms/image/C4E03AQF-9nd...,,None,None,None,[]
1,Helmi Nour,Computer science | DevOps engineer at Infor,Infor,"Faculté des Sciences Mathématiques, Physiques ...","Gouvernorat de Tunis, Tunisia",We build softwares for people who build softwa...,https://media.licdn.com/dms/image/C4D03AQH_Et-...,,None,None,None,[]
2,Zied Brahmi,CEO IDO DEVELOPERS / WEB DEVELOPER,None,None,Tunisie,,https://media.licdn.com/dms/image/C5603AQEYO8F...,,None,None,None,[]
3,Hamza Ben Marzouk,Data Engineer,OCTO Technology,Université Paris Dauphine,"Région de Paris, France",,https://media.licdn.com/dms/image/C5603AQGbf6y...,1 468 abonnés,None,None,None,[]

In [67]:
personal_info = pd.concat([personal_info,df1["url"]],axis=1)

In [84]:
personal_info.head(4)

,name,headline,company,school,location,summary,image,followers,email,phone,connected,websites
0,Imen Hammi,Architecte principal \nMunicipalite de Sousse,None,None,"Tozeur Governorate, Tunisia",,https://media.licdn.com/dms/image/C4E03AQF-9nd...,,None,None,None,[]
1,Helmi Nour,Computer science | DevOps engineer at Infor,Infor,"Faculté des Sciences Mathématiques, Physiques ...","Gouvernorat de Tunis, Tunisia",We build softwares for people who build softwa...,https://media.licdn.com/dms/image/C4D03AQH_Et-...,,None,None,None,[]
2,Zied Brahmi,CEO IDO DEVELOPERS / WEB DEVELOPER,None,None,Tunisie,,https://media.licdn.com/dms/image/C5603AQEYO8F...,,None,None,None,[]
3,Hamza Ben Marzouk,Data Engineer,OCTO Technology,Université Paris Dauphine,"Région de Paris, France",,https://media.licdn.com/dms/image/C5603AQGbf6y...,1 468 abonnés,None,None,None,[]

# ---------------------------------------------------------------------------------------------------

#### To have more details about the profiles we decided to extract informations like their location if they live in Tunisia or not

## 10- extract the location of each profil :

In [70]:
pdlocation= pd.DataFrame(personal_info['location'])

In [71]:
pdlocation.head()

                                          location
0                      Tozeur Governorate, Tunisia
1                    Gouvernorat de Tunis, Tunisia
2                                          Tunisie
3                          Région de Paris, France
4  El Omrane Supérieur, Tunis Governorate, Tunisia

### 10-1 fill the missing value

In [72]:
pdlocation.isna().sum()

location    17
dtype: int64

In [73]:
pdlocation.fillna('ot' , inplace=True)

In [74]:
pdlocation.isna().sum()

location    0
dtype: int64

### 10-2 extract the location of each profile into a list

In [77]:
location_list = pdlocation.values.tolist()
print(location_list[9999]);

['Jendouba Nord, Jendouba Governorate, Tunisia']

In [85]:
list_location_all =[0 for i in range(10000)]

for j in range(10000):
   
    if  "Tunisia" in location_list[j][0] or "Tunisie" in location_list[j][0]  or "Tunis Governorate" in location_list[j][0] :
         list_location_all[j]='Tunisia'
    
    else:
         list_location_all[j]='Other_Country'

In [86]:
dictionaire_location=['Tunisia','Other_Country']

In [87]:
l=np.eye(10000,2)
df_location = pd.DataFrame(l,  columns=dictionaire_location)

### 10-3 fill the data frame with the location

In [88]:
for i in (range(10000)):
    for j in df_location.columns:
        if (j in list_location_all[i] ) == True:
            df_location.loc[[i],[j]]=1
           
        else :
            df_location.loc[[i],[j]]=0

In [91]:
df_location.head(5)

   Tunisia  Other_Country
0      1.0            0.0
1      1.0            0.0
2      1.0            0.0
3      0.0            1.0
4      1.0            0.0

In [92]:
##### DataFrame df_location : 1 if in Tunisia ,  0 not in tunisia
df_location_tunis=df_location.drop(['Other_Country'], axis=1)
df_location_tunis.head(5)

   Tunisia
0      1.0
1      1.0
2      1.0
3      0.0
4      1.0

# ---------------------------------------------------------------------------------------------------

## 11- Identify the volunteering work of each profile

In [93]:
exp= json_normalize(df1['experiences']) 
exp.head(3)

,jobs,education,volunteering
0,"[{'title': 'Architecte Principal', 'company': ...",[{'name': 'Ecole nationale d'architecture et d...,[]
1,[{'title': 'Computer science | DevOps engineer...,"[{'name': 'Faculté des Sciences Mathématiques,...",[]
2,"[{'title': 'Founder and CEO', 'company': 'IDO ...","[{'name': 'faculté des sciences de sfax', 'deg...","[{'title': 'Bénévole', 'company': 'Tedx Djerba..."

In [94]:
df_vol=exp['volunteering']

In [95]:
list_vol=[]
listall_vol =[0 for i in range(10000)]
for i in range(0,10000):
    c=len(experiences['volunteering'][i])
    
    for j in range(0,c-1):
        if experiences['volunteering'][i][j]['title'] != None:
            list_vol.append(experiences['volunteering'][i][j]['title'].lower())
    listall_vol[i]= list_vol.copy()
    list_vol.clear()

In [96]:
list_finale_vol=np.zeros(10000)
for i in range(0,10000):
    if (listall_vol[i] == []) == False:
        list_finale_vol[i]=1

In [97]:
df_vol = pd.DataFrame(list_finale_vol,columns=["Volunteering"])
df_vol.head(100)

    Volunteering
0            0.0
1            0.0
2            0.0
3            1.0
4            0.0
..           ...
95           0.0
96           0.0
97           0.0
98           0.0
99           0.0

[100 rows x 1 columns]

# ---------------------------------------------------------------------------------------------------

## 12- Identify the job title of each profil

### 12-1  create dictionaries of words based on Wevioo's Jobs

In [98]:
PHP_Symfony=['RESTful','git','PHP','Symfony','Développeur web senior' ,'Senior web developer','Senior web','Développeur PHP | Symfony','php/Symfony']
DRUPAL =['DRUPAL ', 'drupal','gestion de contenu','content management system','cms','sgc','SGC','CMS','Développeur Drupal','Développeur Frontend Drupal','Développeur d\'application Drupal','Drupal developer','drupal architect']
Data_Science=['data scientist','business analyst','data engineer','Data Science','data','Big data', 'analyst','data analyst',' Machine Learning' , 'Deep Learning']
web_back_end=['Express.js','SQL','NoSQL','.NET','web','web back end','web back-end','développeur web back-end','développeur web back end', 'developpeur web back-end','developpeur web back end','web back-end developer','web back end developer','web back end','web back-end software engineer','web back end software engineer','ingénieur logiciel web back-end','ingénieur logiciel web back end','genie logiciel web back-end','genie logiciel web back end','génie logiciel web back-end','génie logiciel web back end','web back end','back end','back-end','back_end']
front_end=['REST','React.js','HTML5','CSS','front end','développeur front-end','developpeur front-end','front-end developer','front-end','front-end software engineer','ingénieur logiciel front-end','genie logiciel front-end','génie logiciel front-end']
full_stack_JS=['AngularJS','Ext.js','Node Js','NodeJs','Node.js','MongoDB','js','Fullstack Node.Js','Node.Js','DÉVELOPPEUR NODE.JS','Développeur Full Stack JavaScript','Full stack JS Developer',' Full-stack-js Developer Reactjs','Reactjs''Nodejs','js','JavaScript']
java_jee=['Svn','Spring','SOA','SOAP','Microservices','j2ee','java','Java Software Engineer','Java EE','FullStack JAVA/JEE','Développeurs JAVA/JEE','JAVA J2EE','java','JAVA J2EE Full-Stack','j2ee','Java EE','JAVA/JEE','Développeur Java JEE']
product_owner=['Analyse fonctionnelle','Rédaction','Agile Scrum Manager','Agile Coach ','Agile Business Analyst','Senior Scrum Master','Agile Consultant','Agile Product Owner','Senior Product Owner','Digital Product Owner','Scrum Master','Testeur','Testing','test','validation','Agile Product Owner','Technical Product Owner','Product Owner']
Embedded_Middleware_dict=['linux','unix','embedded','Embedded','Embarqué','RN Embedded','Embedded Case Manager','Embedded Software Engineer','embedded software engineer','Embedded Developer','Embedded Engineer','Embedded Software Developer Intern','Embedded Software Validation Engineer','Software', 'Application', 'Applications']
Technical_Lead_Architecte_Jee_dict=['AWS','Docker','Intégration continue','Technical Lead','TechnicalLead','Technical Analyst','Architecte Java JEE H/F','Ingénieur(e)s Fullstack JEE (Spring/Angular)','Consultant architecte JAVA/JEE','Data Architect','Technical Analyst', 'Technical Lead', 'IT Specialist', 'Information Technology Specialist', 'IT Analyst','Fullstack JEE Engineer (Spring/Angular)','IT','Data Technical Lead','Technical','technique','Architecte','Architect','Engineering Technical Specialist']
Devops=['devops','cyber','security','administration','sécurité','DevOps','DevOps Engineer','DevOps Engineer']
Cloud=['cloud','saas','paas','iaas','cloudcomputing']
informatique=['ingenieur informatique','Freelancer','Ingénieur développement logiciels','Ingénieur de développement','Développement ','informatique','tic','résaux','networks','télécommunication','télécom','telecommunications','it','developer','tech']
full_stack_dev=['Full stack','Full Stack','Fullstack','fullstack']
stage=['stagiaire','stage','stages','internship','Intern',' Summer',' Internship', 'Co', 'op', 'Associate', ' Extern'', Unpaid']

In [99]:
#flatting the object into a pandas dataframe
personal_info = pd.json_normalize(df1['personal_info']) 
personal_info.head() 
personal_info = pd.concat([personal_info,df1["url"]],axis=1)

In [100]:
#extract headline from the dataframe and fill NA values with Other
personal_info['headline'].fillna('Other' , inplace=True)

In [101]:
#create a dataframe having headline as a column
listjobf=pd.DataFrame( personal_info['headline']  ,  index=personal_info.index)
listjobf.head(3)

                                        headline
0  Architecte principal \nMunicipalite de Sousse
1    Computer science | DevOps engineer at Infor
2            CEO IDO DEVELOPERS  / WEB DEVELOPER

In [102]:
listfinaljob=[0 for i in range(10000)]

### 12-2 match the job title of each profile

#### In this upcoming code, we will parse each dictionaries and test if the job appears in list_jobf :  => If it was true we will append it to the list created above and mark it as checked

In [104]:
for i in range(listjobf.shape[0]):
    #print(i)
    for j in range(len(PHP_Symfony)):
        if PHP_Symfony[j].lower() in listjobf.loc[i,'headline'].lower() :
            listfinaljob[i]='PHP/Symfony'
            listjobf.replace(to_replace=listjobf.loc[i,'headline'] ,value ="ok" , inplace=True)
            break

In [105]:
listjobf[listjobf['headline'] =="ok"].count()

headline    387
dtype: int64

In [106]:
for i in range(listjobf.shape[0]):
    #print(i)
    for j in range(len(DRUPAL)):
         if DRUPAL[j].lower() in listjobf.loc[i,'headline'].lower() :
            listfinaljob[i]='DRUPAL'
            listjobf.replace(to_replace=listjobf.loc[i,'headline'] ,value ="ok" , inplace=True)
            break

In [107]:
listjobf[listjobf['headline'] =="ok"].count()

headline    430
dtype: int64

In [108]:
for i in range(listjobf.shape[0]):
    #print(i)
    for j in range(len(Data_Science)):
         if Data_Science[j].lower() in listjobf.loc[i,'headline'].lower() :
            listfinaljob[i]='Data_Science'
            listjobf.replace(to_replace=listjobf.loc[i,'headline'] ,value ="ok" , inplace=True)
            break

In [109]:
listjobf[listjobf['headline'] =="ok"].count()

headline    1282
dtype: int64

In [110]:
for i in range(listjobf.shape[0]):
    #print(i)
    for j in range(len(web_back_end)):
         if web_back_end[j].lower() in listjobf.loc[i,'headline'].lower() :
            listfinaljob[i]='Web Back-End'
            listjobf.replace(to_replace=listjobf.loc[i,'headline'] ,value ="ok" , inplace=True)
            break

In [111]:
listjobf[listjobf['headline'] =="ok"].count()

headline    1955
dtype: int64

In [112]:
for i in range(listjobf.shape[0]):
    #print(i)
    for j in range(len(front_end)):
         if front_end[j].lower() in listjobf.loc[i,'headline'].lower() :
            listfinaljob[i]='Front-End'
            listjobf.replace(to_replace=listjobf.loc[i,'headline'] ,value ="ok" , inplace=True)
            break

In [113]:
listjobf[listjobf['headline'] =="ok"].count()

headline    2062
dtype: int64

In [114]:
for i in range(listjobf.shape[0]):
    #print(i)
    for j in range(len(java_jee)):
         if java_jee[j].lower() in listjobf.loc[i,'headline'].lower() :
            listfinaljob[i]='JAVA/JEE'
            listjobf.replace(to_replace=listjobf.loc[i,'headline'] ,value ="ok" , inplace=True)
            break

In [115]:
listjobf[listjobf['headline'] =="ok"].count()

headline    2946
dtype: int64

In [116]:
for i in range(listjobf.shape[0]):
    #print(i)
    for j in range(len(product_owner)):
         if product_owner[j].lower() in listjobf.loc[i,'headline'].lower() :
            listfinaljob[i]='Product Owner'
            listjobf.replace(to_replace=listjobf.loc[i,'headline'] ,value ="ok" , inplace=True)
            break

In [117]:
listjobf[listjobf['headline'] =="ok"].count()

headline    3241
dtype: int64

In [118]:
for i in range(listjobf.shape[0]):
    #print(i)
    for j in range(len(Embedded_Middleware_dict)):
         if Embedded_Middleware_dict[j].lower() in listjobf.loc[i,'headline'].lower() :
            listfinaljob[i]='Embarqué Middleware'
            listjobf.replace(to_replace=listjobf.loc[i,'headline'] ,value ="ok" , inplace=True)
            break

In [119]:
listjobf[listjobf['headline'] =="ok"].count()

headline    4125
dtype: int64

In [120]:
for i in range(listjobf.shape[0]):
    #print(i)
    for j in range(len(Technical_Lead_Architecte_Jee_dict)):
         if Technical_Lead_Architecte_Jee_dict[j].lower() in listjobf.loc[i,'headline'].lower() :
            listfinaljob[i]='Technical Lead/ Architecte JEE'
            listjobf.replace(to_replace=listjobf.loc[i,'headline'] ,value ="ok" , inplace=True)
            break

In [121]:
listjobf[listjobf['headline'] =="ok"].count()

headline    5507
dtype: int64

In [122]:
for i in range(listjobf.shape[0]):
    #print(i)
    for j in range(len(full_stack_JS)):
         if full_stack_JS[j].lower() in listjobf.loc[i,'headline'].lower() :
            listfinaljob[i]='FullStack JS'
            listjobf.replace(to_replace=listjobf.loc[i,'headline'] ,value ="ok" , inplace=True)
            break

In [123]:
listjobf[listjobf['headline'] =="ok"].count()

headline    5579
dtype: int64

In [124]:
for i in range(listjobf.shape[0]):
    #print(i)
    for j in range(len(full_stack_dev)):
         if full_stack_dev[j].lower() in listjobf.loc[i,'headline'].lower() :
            listfinaljob[i]='FullStack Dev'
            listjobf.replace(to_replace=listjobf.loc[i,'headline'] ,value ="ok" , inplace=True)
            break

In [125]:
listjobf[listjobf['headline'] =="ok"].count()

headline    5742
dtype: int64

In [126]:
for i in range(listjobf.shape[0]):
    #print(i)
    for j in range(len(Devops)):
         if Devops[j].lower() in listjobf.loc[i,'headline'].lower() :
            listfinaljob[i]='Devops'
            listjobf.replace(to_replace=listjobf.loc[i,'headline'] ,value ="ok" , inplace=True)
            break

In [127]:
listjobf[listjobf['headline'] =="ok"].count()

headline    5900
dtype: int64

In [128]:
for i in range(listjobf.shape[0]):
    #print(i)
    for j in range(len(Cloud)):
         if Cloud[j].lower() in listjobf.loc[i,'headline'].lower() :
            listfinaljob[i]='Cloud'
            listjobf.replace(to_replace=listjobf.loc[i,'headline'] ,value ="ok" , inplace=True)
            break

In [129]:
listjobf[listjobf['headline'] =="ok"].count()

headline    5945
dtype: int64

In [130]:
for i in range(listjobf.shape[0]):
    #print(i)
    for j in range(len(informatique)):
         if informatique[j].lower() in listjobf.loc[i,'headline'].lower() :
            listfinaljob[i]='informatique'
            listjobf.replace(to_replace=listjobf.loc[i,'headline'] ,value ="ok" , inplace=True)
            break

In [131]:
listjobf[listjobf['headline'] =="ok"].count()

headline    6937
dtype: int64

In [132]:
for i in range(listjobf.shape[0]):
    #print(i)
    for j in range(len(stage)):
         if stage[j].lower() in listjobf.loc[i,'headline'].lower() :
            listfinaljob[i]='Stage'
            listjobf.replace(to_replace=listjobf.loc[i,'headline'] ,value ="ok" , inplace=True)
            break

In [133]:
listjobf[listjobf['headline'] =="ok"].count()

headline    8373
dtype: int64

In [137]:
List_Job_Final=pd.DataFrame(listfinaljob , columns=['job2'], index=personal_info.index)
List_Job_Final.loc[50:55]

             job2
50   Web Back-End
51   Web Back-End
52              0
53  Product Owner
54          Cloud
55       JAVA/JEE

In [138]:
List_Job_Final[List_Job_Final['job2']==0] = "Other"

In [139]:
List_Job_Final.head(3)

                             job2
0  Technical Lead/ Architecte JEE
1                          Devops
2                    Web Back-End

 ### 12-3 encode the job title into numerical data

In [140]:
dftjob= pd.factorize(List_Job_Final['job2'])[0]

In [141]:
dftjob3 = pd.DataFrame(dftjob , columns=['job'])
dftjob3.

      job
0       0
1       1
2       2
3       3
4       4
...   ...
9995    4
9996    4
9997    2
9998    3
9999    3

[10000 rows x 1 columns]

### 12-4 concatenate the job dataframe with the previous data processed

In [147]:
df_finaljob=pd.concat([dftjob3,List_Job_Final],axis=1,sort=False)
df_finaljob.head(5)

   job                            job2
0    0  Technical Lead/ Architecte JEE
1    1                          Devops
2    2                    Web Back-End
3    3                    Data_Science
4    4                           Other

In [143]:
df_final3=pd.concat([df_final2,dft_education_names,dft_degree,df_type_etude,df_location_tunis,df_vol,df_finaljob],axis=1,sort=False)

In [144]:
df_final3.head()

,date_exp,javascript,sql,nosql,node.js,express.js,koa.js,hapi.js,angularjs,react.js,jquery,bash,nginx,c,c++,html5,css,rest,sass,postcss,webpack,gitlab,linux,embedded c,embedded c++,java,jee,microservices,intégration continue,docker,...,drupal_academic,scrum_academic,analyse fonctionnelle_academic,testing_academic,rédaction_academic,arabe,english,français,allemand,espagnol,italien,others,ENSI,FST,ENIT,ENISO,INSAT,ESPRIT,OTHERS,Engineer,Master,Licence,Others_Degree,score_diplome,Informatique,Others_type_Of_Study,Tunisia,Volunteering,job,job2
0,232,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.5,0.0,1.0,1.0,0.0,0,Technical Lead/ Architecte JEE
1,49,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,3.5,1.0,1.0,1.0,0.0,1,Devops
2,330,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.5,1.0,0.0,1.0,0.0,2,Web Back-End
3,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,3.5,0.0,1.0,0.0,1.0,3,Data_Science
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,3.5,0.0,1.0,1.0,0.0,4,Other

In [146]:
# Visualize the nombre of jobs on the wevioo json file
df_final3['job'].value_counts()

4     2131
9     1385
0     1343
6      909
8      864
3      790
5      725
2      632
10     381
12     288
15     148
1      144
7      103
14      72
13      44
11      41
Name: job, dtype: int64

## 13- Transform the complete dataframe into csv file

In [ ]:
df_final3.to_csv("df_final18_04_2020.csv", sep='\t', encoding='utf-8')

In [ ]:
df_final3.shape

In [ ]:
personal_info['headline'].loc[9183]

# => Now that we have completed the step of data cleaning and data processing we are ready  to move forward to the model and evaluate step